<launch>

    <arg name="debug"
        default="true"  />
    <arg name="load_config"
        default="true"  />
    <arg name="config_file"
        default="default" />
    <arg name="config_path"
        default="$(find drive_multiplexer)/config/$(arg config_file).yaml"  />
    <arg name="node_respawn"
        default="true"  />
    <arg name="node_output"
        default="screen" doc="screen or log" />

    <group if="$(arg load_config)">
        <rosparam command="load"
            file="$(arg config_path)"  />
    </group>

  <node 
      pkg="topic_tools"
      type="mux"
      name="drive_multiplexer"
      args="selfie_in/drive drive/lane_control drive/park drive/starting_procedure mux:=drive_multiplexer" />
</launch>
