<launch>

    <arg name="debug"
        default="true"  />
    <arg name="load_config"
        default="true"  />
    <arg name="config_file"
        default="default"  />
    <arg name="config_path"
        default="$(find odometry)/config/$(arg config_file).yaml"  />
    <arg name="node_respawn"
        default="true"  />
    <arg name="node_output"
        default="screen" doc="screen or log" />

    <group if="$(arg load_config)">
        <rosparam command="load"
            file="$(arg config_path)"  />
    </group>

    <node
        name="odometry"
        pkg="odometry"
        type="odometry"
        respawn="$(arg node_respawn)"
        output="$(arg node_output)" >
    </node>

</launch>
