<launch>

    <arg name="debug"
        default="false"  />
    <arg name="load_config"
        default="true"  />
    <arg name="config_file"
        default="default"/>
    <arg name="config_path"
        default="$(find starting_procedure)/config/$(arg config_file).yaml"  />
    <arg name="node_respawn"
        default="true"  />
    <arg name="node_output"
        default="screen" doc="screen or log" />

    <group if="$(arg load_config)">
        <rosparam command="load"
            file="$(arg config_path)"  />
    </group>

    <node
        name="starting_procedure"
        pkg="starting_procedure"
        type="starting_procedure"
        respawn="$(arg node_respawn)"
        output="$(arg node_output)" >

        <remap from="drive_starting" to="drive/starting_procedure" />
    </node>

    <node
        name="qr_decoder"
        pkg="starting_procedure"
        type="qr_decoder"
        respawn="$(arg node_respawn)"
        output="$(arg node_output)" >
        <param name="visualization" value="$(arg debug)" />
    </node>

    <node
        name="gate_scanner"
        pkg="starting_procedure"
        type="gate_scanner"
        respawn="$(arg node_respawn)"
        output="$(arg node_output)" >
    </node>
</launch>
