<launch>

<arg name="debug"
     value="$(optenv SELFIE_DEBUG false)" />
<arg name="config"
     value="$(optenv SELFIE_CONFIG default)" />

<group unless="$(eval config == 'default')">
    <rosparam command="load"
        file="$(find startup)/config/custom/$(arg config).yaml"  />
</group>

<!-- Control -->
    <!-- drive_multiplexer -->
    <include file="$(find drive_multiplexer)/launch/drive_multiplexer_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(eval config == 'default')" />
    </include>

    <!-- pid_carrot_follower -->
    <include file="$(find pid_carrot_follower)/launch/pid_carrot_follower_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(eval config == 'default')" />
    </include>

<!-- Navigation -->
    <!-- lane_pilot -->
    <include file="$(find lane_pilot)/launch/lane_pilot_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(eval config == 'default')" />
    </include>

    <!-- path_generator -->
    <include file="$(find path_generator)/launch/path_generator_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(eval config == 'default')" />
    </include>

<!-- Perception -->
    <!-- lane_detector -->
    <include file="$(find lane_detector)/launch/lane_detector_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(eval config == 'default')" />
    </include>

    <!-- obstacle_detector -->
    <include file="$(find obstacle_detector)/launch/obstacle_detector_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(eval config == 'default')" />
    </include>

    <!-- odometry -->
    <include file="$(find odometry)/launch/odometry_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(eval config == 'default')" />
    </include>

<!-- Tasks -->
    <!-- free_drive -->
    <include file="$(find free_drive)/launch/free_drive_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(eval config == 'default')" />
    </include>

    <!-- intersection -->
    <include file="$(find intersection)/launch/intersection_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(eval config == 'default')" />
    </include>

    <!-- park -->
    <include file="$(find park)/launch/park_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(eval config == 'default')" />
    </include>

    <!-- parking_spot_detector -->
    <include file="$(find parking_spot_detector)/launch/detect_parking_spot_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(eval config == 'default')" />
    </include>

    <!-- scheduler -->
    <include file="$(find scheduler)/launch/scheduler_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(eval config == 'default')" />
    </include>

    <!-- starting_procedure -->
    <include file="$(find starting_procedure)/launch/starting_procedure_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(eval config == 'default')" />
    </include>

<!-- Startup -->

    <!-- diagnostics -->

</launch>