<launch>

<param name="/use_sim_time" value="true" />

<arg name="debug"
     value="$(optenv SELFIE_DEBUG false)" />
<arg name="load_pkg_config"
     value="true" />
<arg name="config"
     value="$(optenv SELFIE_CONFIG sim)" />
<arg name="homography_file"
     default="$(find lane_detector)/config/homography_sim.yaml" />

<group unless="$(arg load_pkg_config)">
    <rosparam command="load"
        file="$(find startup)/config/custom/$(arg config).yaml"  />
</group>

<!-- Control -->
    <!-- drive_multiplexer -->
    <include file="$(find drive_multiplexer)/launch/drive_multiplexer_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(arg load_pkg_config)" />
        <arg name="config_file" 
             value="$(arg config)" />

    </include>

    <!-- pid_carrot_follower -->
    <include file="$(find pid_carrot_follower)/launch/pid_carrot_follower_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(arg load_pkg_config)" />
        <arg name="config_file" 
             value="$(arg config)" />
    </include>

<!-- Navigation -->
    <!-- lane_pilot -->
    <include file="$(find lane_pilot)/launch/lane_pilot_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(arg load_pkg_config)" />
        <arg name="config_file" 
             value="$(arg config)" />
    </include>

    <!-- path_generator -->
    <include file="$(find path_generator)/launch/path_generator_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(arg load_pkg_config)" />
        <arg name="config_file" 
             value="$(arg config)" />
    </include>

<!-- Perception -->
    <!-- lane_detector -->
    <include file="$(find lane_detector)/launch/lane_detector_example.launch" >
        <arg name="debug" 
             value="false" />
        <arg name="load_config" 
             value="$(arg load_pkg_config)" />
        <arg name="config_file" 
             value="$(arg config)" />
        <arg name="homography_file" 
             value="$(arg homography_file)" />
    </include>

    <!-- obstacle_detector -->
    <include file="$(find obstacle_detector)/launch/obstacle_detector_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(arg load_pkg_config)" />
        <arg name="config_file" 
             value="$(arg config)" />
    </include>

    <!-- odometry -->
    <include file="$(find odometry)/launch/odometry_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(arg load_pkg_config)" />
        <arg name="config_file" 
             value="$(arg config)" />
    </include>

<!-- Tasks -->
    <!-- free_drive -->
    <include file="$(find free_drive)/launch/free_drive_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(arg load_pkg_config)" />
        <arg name="config_file" 
             value="$(arg config)" />
    </include>

    <!-- intersection -->
    <include file="$(find intersection)/launch/intersection_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(arg load_pkg_config)" />
        <arg name="config_file" 
             value="$(arg config)" />
    </include>

    <!-- park -->
    <include file="$(find park)/launch/park_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(arg load_pkg_config)" />
        <arg name="config_file" 
             value="$(arg config)" />
    </include>

    <!-- parking_spot_detector -->
    <include file="$(find parking_spot_detector)/launch/detect_parking_spot_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(arg load_pkg_config)" />
        <arg name="config_file" 
             value="$(arg config)" />
    </include>

    <!-- schedulerpy -->
    <include file="$(find schedulerpy)/launch/scheduler_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(arg load_pkg_config)" />
        <arg name="config_file" 
             value="$(arg config)" />
    </include>

    <!-- starting_procedure -->
    <include file="$(find starting_procedure)/launch/starting_procedure_example.launch" >
        <arg name="debug" 
             value="$(arg debug)" />
        <arg name="load_config" 
             value="$(arg load_pkg_config)" />
        <arg name="config_file" 
             value="$(arg config)" />
    </include>

<!-- Startup -->

    <!-- diagnostics -->

</launch>
