<library path="src">
  <class name="Selfie base plugin" type="rqt_selfie_base.base_module.MyPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Base plugin for monitoring and contrilling state of Selfie.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>RQT Python Plugin</label>
      <icon type="theme">system-help</icon>
      <statustip>Plugin for monitoring and contrilling state of Selfie.</statustip>
    </qtgui>
  </class>
</library>