<launch>

    <arg name="debug"
        default="true"  />
    <arg name="load_config"
        default="true"  />
    <arg name="config_file"
        default="$(find awesome_package)/config/default.yaml"  />
    <arg name="node_respawn"
        default="true"  />
    <arg name="node_output"
        default="screen" doc="screen or log" />

    <group if="$(arg load_config)">
        <rosparam command="load"
            file="$(arg config_file)"  />
    </group>

    <node
        name="vision"
        pkg="vision"
        type="vision"
        respawn="$(arg node_respawn)"
        output="$(arg node_output)" >
        
        <param name="visualization" value="$(arg debug)" />
    </node>

</launch>
