<launch>
  <!-- PASSED PARAMS-->
  <arg name="debug"
    default="true"  />
  <arg name="load_config"
    default="true"  />
  <arg name="config_file"
    default="$(find stm32_bridge)/config/default.yaml"  />
  <arg name="node_respawn"
    default="true"  />
  <arg name="node_output"
    default="screen" doc="screen or log" />
  
  <!-- PARAMS FROM YAML -->
  <group if="$(arg load_config)">
    <rosparam command="load"
      file="$(arg config_file)"  />
  </group>

  <node 
    name="stm32_bridge"
    pkg="stm32_bridge" 
    type="stm32_bridge"
    respawn="$(arg node_respawn)"
    output="$(arg node_output)" >

    <!-- <param name="visualization" value="$(arg debug)" /> -->
  </node>

</launch>